<div class="desktop-promo">
  <div class="desktop-promo-nav-left arrow-button prev"
       data-navigate="prev">{{ _('Previous') }}</div>

  <div class="desktop-promo-items" data-action="start">
    {% for promo in promoItems %}
      <a class="desktop-promo-item" href="{{ promo.url }}"
         data-promo="{{ promo.name }}"
         data-promo-image="{{ promo.imageName or promo.name }}"
         data-tracking="{{ promo.name }}">
        <span class="desktop-promo-item-text">{{ promo.text }}</span>
      </a>
    {% endfor %}
  </div>

  <div class="desktop-promo-nav-right arrow-button next"
       data-navigate="next">{{ _('Next') }}</div>
</div>
