<section class="main">
  <div class="subheader">
    <h1>{{ _('Privacy Policy') }}</h1>
  </div>
</section>

<section class="site-privacy-policy main full prose">
  {% set url = '/docs/privacy/' + language + '.html?20150320' %}
  {% set fallback = '/docs/privacy/' + settings.default_locale + '.html?20150320' %}
  {% fetch (url=media(url), fallback=media(fallback), filters=['rewriteCdnUrls']) %}
    <p class="spinner spaced alt"></p>
  {% endfetch %}
</section>
