<section class="main">
  <div class="subheader">
    <h1>{{ _('Terms of Use') }}</h1>
  </div>
</section>

<section class="site-terms-of-use main full prose">
  {% set url = '/docs/terms/' + language + '.html?20150320' %}
  {% set fallback = '/docs/terms/' + settings.default_locale + '.html?20150320' %}
  {% fetch (url=media(url), fallback=media(fallback), filters=['rewriteCdnUrls']) %}
    <p class="spinner spaced alt"></p>
  {% endfetch %}
</section>
