@import "lib";

$image-height = 320px;
$image-width = 620px;
$image-padding = 10px;
$image-count = 5;
$text-background-height = 54px;
$arrow-side-padding = 10px;

.desktop-promo {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 18px;  // Matches #page's padding-top.
    position: relative;
}

.desktop-promo-items {
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    // Leave space for an extra placeholder image.
    width: ($image-count + 1) * ($image-width + 2 * $image-padding);
}

.desktop-promo-items[data-action="center"],
.desktop-promo-items[data-action="left"] {
    transition: 500ms;
}

.desktop-promo-item {
    display: inline-block;
    height: $image-height;
    margin: 0 $image-padding;
    position: relative;
    width: $image-width;
}

for $name in generic games productivity {
    .desktop-promo-item[data-promo-image={$name}] {
        background-image: url(../img/promo/$name.png);
    }
}

.desktop-promo-placeholder-item {
    display: none;
}

.desktop-promo-placeholder-item-shown {
    display: inline-block;
}

.desktop-promo-item-text {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    color: $white;
    font-size: 20px;
    font-weight: 100;
    height: $text-background-height;
    left: 0;
    line-height: $text-background-height;
    text-align: center;
    position: absolute;
    width: 100%;
}

.desktop-promo-nav-left,
.desktop-promo-nav-right {
    opacity: 0;
    position: absolute;
    top: 140px;
    z-index: 10;
}

.desktop-promo:hover {
    .desktop-promo-nav-left,
    .desktop-promo-nav-right {
        opacity: 1;
    }
}

.desktop-promo-nav-left {
    left: $arrow-side-padding;
}

.desktop-promo-nav-right {
    right: $arrow-side-padding;
}

.desktop-promo-separator {
    border-top: 1px solid $greyscale-grey;
    border-bottom: 1px solid $greyscale-light-grey;
    margin: 20px auto 0;
    width: 80%;
}

.desktop-promo-separator-text {
    color: $greyscale-black;
    font-size: 25px;
    font-weight: 100;
    margin: 20px 0;
    text-align: center;
}

// Offsets
// IMPORTANT: This section is duplicated because we are using an outdated
//            version of stylus that doesn't support variables in @media
//            queries. Please update both if you update something.
@media (min-width: 1024px) {
    $promo-width = 1024px
    $base-offset = ($promo-width - $image-width - 2 * $image-padding) * (1 / 2);

    .desktop-promo {
        width: $promo-width;
    }

    .desktop-promo-items {
        transform: translateX($base-offset);
    }

    .desktop-promo-items[data-action="center"],
    .desktop-promo-items[data-action="start"] {
        transform: translateX(-($image-width + 2 * $image-padding) * 1 + $base-offset);
    }

    .desktop-promo-items[data-action="left"],
    .desktop-promo-items[data-action="right"] {
        transform: translateX(-($image-width + 2 * $image-padding) * 2 + $base-offset);
    }
}

@media (min-width: 1280px) {
    $promo-width = 1280px
    $base-offset = ($promo-width - $image-width - 2 * $image-padding) * (1 / 2);

    .desktop-promo {
        width: $promo-width;
    }

    .desktop-promo-items {
        transform: translateX($base-offset);
    }

    .desktop-promo-items[data-action="center"],
    .desktop-promo-items[data-action="start"] {
        transform: translateX(-($image-width + 2 * $image-padding) * 1 + $base-offset);
    }

    .desktop-promo-items[data-action="left"],
    .desktop-promo-items[data-action="right"] {
        transform: translateX(-($image-width + 2 * $image-padding) * 2 + $base-offset);
    }
}

// Responsive styles.
.desktop-promo,
.desktop-promo-separator,
.desktop-promo-separator-text {
    display: none;
}

@media $base-desktop {
    .desktop-promo,
    .desktop-promo-separator,
    .desktop-promo-separator-text {
        display: block;
    }
}
